#BlueHighlight{
    background-color: rgb(122, 122, 223)
}
.GreenLink{
    Color: green
}
.BlueHead{
    Color: Blue
}
#GoldText{
    Color: gold
}
.YellowHighlight{
    background-color: yellow;
}
.RedText{
    Color: red
}
.GreenHighlightYellowText{
    background-color: green;
    Color: Yellow;
}
.GreenHighlight{
    background-color: rgb(174, 252, 174);
}
.WhiteTitle{
    Color: White
}
#YellowHighlight{
    background-color: yellow;
}